<div class="title-bar flex items-center space-x-4 ml-auto justify-between mb-3">
  <h2 class="title">Select a method</h2>
  <mat-icon class="cursor-pointer" mat-dialog-close>close</mat-icon>
</div>

<p class="description block mb-6">
  Select a method that suites you the best. You can even save it and later on
  don’t bother going through this process.
</p>
<div class="flex justify-between items-center w-full mb-6">
  <div
    class="payment-card flex justify-center items-center cursor-pointer"
    [class.selected]="paymentOption === PaymentOption.PAYPAL"
    (click)="setOption(PaymentOption.PAYPAL)"
  >
    <img src="assets/paypal.svg" alt="paypal" />
  </div>
  <div
    class="payment-card flex justify-center items-center cursor-pointer"
    [class.selected]="paymentOption === PaymentOption.VISA"
    (click)="setOption(PaymentOption.VISA)"
  >
    <img src="assets/visa.svg" alt="visa" />
  </div>
  <div
    class="payment-card flex justify-center items-center cursor-pointer"
    [class.selected]="paymentOption === PaymentOption.MASTERCARD"
    (click)="setOption(PaymentOption.MASTERCARD)"
  >
    <img src="assets/mastercard.svg" alt="mastercard" />
  </div>
</div>

<div class="flex align-center justify-between">
  <button
    type="button"
    class="btn bg-white text-black rounded back-button"
    (click)="onBack()"
  >
    Back
  </button>
  <button
    type="button"
    class="btn bg-primary hover:bg-primary-700 text-white rounded submit-button"
    (click)="onSubmit()"
  >
    Proceed
  </button>
</div>
